---
import {Image} from 'astro:assets';
import Layout from '../layouts/layout.astro';
import listIcon from '../images/icon-list.svg';
import ilustrationDesktop from '../images/illustration-sign-up-desktop.svg';
---

<Layout>
    <main>
        <section class="content">
            <h1>Stay updated!</h1>
            <p>Join 60,000+ product managers receiving monthly updates on:</p>
            <div class="item">
                <Image src={listIcon} alt="list icon"/>
                Product discovery and building what matters
            </div>
            <div class="item">
                <Image src={listIcon} alt="list icon"/>
                Measuring to ensure updates are a success
            </div>
            <div class="item">
                <Image src={listIcon} alt="list icon"/>
                And much more!
            </div>
            <form>
                <label>Email address</label>
                <input placeholder="email@company.com" type="email"/>
                <button type="submit">Subscribe to monthly newsletter</button>
            </form>
        </section>
        <section class="image">
            <Image id="desktopImg" src={ilustrationDesktop} alt="list icon"/>
        </section>
    </main>
</Layout>

<style lang="scss">
  main {
    min-width: 62rem;
    min-height: 15rem;
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    padding : 1rem;

    .image {
      width : 50%;
      height: 75%;
      padding-left: 2rem;
      display: flex;
      justify-content: flex-end;

      #desktopImg {
        width : 95%;
        height : auto;
        object-fit: contain;
      }
    }

    .content {
      width: 50%;
      padding : 5rem;
      padding-right : 0rem;
      padding-bottom: 0rem;

      h1 {
        font-size: 3.5rem;
        font-family: 'Roboto Bold';
        color: var(--dark-slate-grey);
        margin: 0;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.05rem;
        margin: 0;
        max-width: 85%;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      form {
        margin-top: 2rem;

        display : flex;
        flex-direction: column;
        width : 95%;

        label {
          font-family: 'Roboto Bold', sans-serif;
          color: var(--dark-slate-grey);
          font-size : 1.1rem;
        }

        input,button {
          margin-top : .5rem;
          margin-bottom : .5rem;
          padding : 1rem;
          font-size : 1rem;
          border-radius: .5rem;
        }

        input {
          font-family: 'Roboto', sans-serif;
          border: solid grey 1px;
        }

        button {
          font-family: 'Roboto Bold', sans-serif;
          color: var(--white);
          background-color: var(--dark-slate-grey);
          border: none;
          cursor: pointer;
        }

        button:hover {
          background: linear-gradient(90deg,var(--gradient-pink), var(--gradient-orange));
          box-shadow: var(--gradient-shadow) 0px 6px 12px -2px,  var(--gradient-shadow) 0px 3px 7px -3px;
        }
      }

      .item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        font-family: 'Roboto Regular', sans-serif;

        img {
          margin-right: 1rem;
        }

      }
    }
  }
</style>


