---
import {Image} from 'astro:assets';
import Layout from '../layouts/layout.astro';
import listIcon from '../images/icon-list.svg';
import ilustrationDesktop from '../images/illustration-sign-up-desktop.svg';
import ilustrationMobile from '../images/illustration-sign-up-mobile.svg';
---

<Layout>
    <main>
        <section class="content">
            <h1>Stay updated!</h1>
            <p>Join 60,000+ product managers receiving monthly updates on:</p>
            <div class="item">
                <Image src={listIcon} alt="list icon"/>
                Product discovery and building what matters
            </div>
            <div class="item">
                <Image src={listIcon} alt="list icon"/>
                Measuring to ensure updates are a success
            </div>
            <div class="item">
                <Image src={listIcon} alt="list icon"/>
                And much more!
            </div>
            <form>
                <label>Email address</label>
                <input placeholder="email@company.com" type="email"/>
                <a href="/result">
                    <button type="submit">Subscribe to monthly newsletter</button>
                </a>
            </form>
        </section>
        <section id="desktopImg" class="image">
            <Image src={ilustrationDesktop} alt="list icon"/>
        </section>
        <section id="mobileImg" class="image">
            <Image src={ilustrationMobile} alt="list icon"/>
        </section>
    </main>
</Layout>

<script lang="js">
    const anchor = document.querySelector('a');
    const input = document.querySelector('input');

    anchor.addEventListener('click',(e) => {
        if(input.validity.typeMismatch) {
            input.classList.add('invalid');
            window.location.href = '/';
        }

        else {
            input.classList.remove('invalid');
            localStorage.setItem("email", input.value);
        }
    })
</script>

<style lang="scss">
  main {
    min-width: 62rem;
    min-height: 15rem;
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    padding : 1rem;

    @media screen and (max-width : 1024px) and (orientation: portrait) {
      flex-direction: column-reverse;
      width : 90vw;
      min-width: 90vw;
      height : 90vh;
      max-height: 90vh;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding-top: 0;
    }

    @media screen and (min-width : 1024px) {
      transform: scale(0.8);
    }

    @media screen and (min-width : 1200px) {
      transform: scale(0.9);
    }

    @media screen and (min-width : 1600px) {
      transform: scale(1);
    }

    .image {
      width : 50%;
      height: 42%;
      padding-left: 2rem;
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 1024px) and (orientation: portrait) {
        width : 100%;
        height: 40%;
        margin: 0;
        padding: 0;
        justify-content: center;

        @media screen and (max-width: 400px) {
          height: 35%;
        }

        img {
          width : 100%;
          height: 100%;
          object-fit: cover;
          border-bottom-left-radius: 2vh;
          border-bottom-right-radius: 2vh;
        }
      }

      #desktopImg {
        width : 95%;
        height : auto;
      }
    }

    @media screen and (max-width : 1024px) and (orientation: portrait) {
      #desktopImg {
        display: none;
      }
      #mobileImg {
        display: block;
      }
    }

    @media screen and (min-width : 800px) and (orientation: landscape){
      #desktopImg {
        display: flex;
      }
      #mobileImg {
        display: none;
      }
    }

    .content {
      width: 50%;
      padding : 5rem;
      padding-right : 0rem;
      padding-bottom: 0rem;

      @media screen and (max-width : 1024px) and (orientation: portrait) {
        width : 100%;
        height: 58%;
        padding : 0rem;
        padding-top: 2rem;
      }

      h1 {
        font-size: 3.5rem;
        font-family: 'Roboto Bold';
        color: var(--dark-slate-grey);
        margin: 0;

        @media screen and (max-width : 1024px) and (orientation: portrait) {
            font-size: 2.5rem;
        }
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.05rem;
        margin: 0;
        max-width: 85%;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;

        @media screen and (max-width : 1024px) and (orientation: portrait) {
          font-size: 1rem;
        }
      }

      form {
        margin-top: 2rem;

        display : flex;
        flex-direction: column;
        width : 95%;

        @media screen and (max-width : 1024px) and (orientation: portrait) {
          margin-top: 1rem;
          width: 100%;
        }

        label {
          font-family: 'Roboto Bold', sans-serif;
          color: var(--dark-slate-grey);
          font-size : 1.1rem;

          @media screen and (max-width : 1024px) and (orientation: portrait) {
            font-size: .9rem;
          }
        }

        a {
          width : 100%;
        }

        input,button {
          margin-top : .5rem;
          margin-bottom : .5rem;
          padding : 1rem;
          font-size : 1rem;
          border-radius: .5rem;

          @media screen and (max-width : 1024px) and (orientation: portrait) {
            font-size: .8rem;
            padding: 0.5rem;
          }
        }

        input {
          font-family: 'Roboto', sans-serif;
          border: solid grey 1px;
        }

        .invalid {
          border-color : red;
        }

        button {
          font-family: 'Roboto Bold', sans-serif;
          color: var(--white);
          background-color: var(--dark-slate-grey);
          border: none;
          cursor: pointer;
          width : 100%;
        }

        button:hover {
          background: linear-gradient(90deg,var(--gradient-pink), var(--gradient-orange));
          box-shadow: var(--gradient-shadow) 0px 6px 12px -2px,  var(--gradient-shadow) 0px 3px 7px -3px;
        }
      }

      .item {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        font-family: 'Roboto Regular', sans-serif;

        @media screen and (max-width : 1024px) and (orientation: portrait) {
          font-size: .8rem;
          margin-top: .5rem;
          margin-bottom: .5rem;
        }

        img {
          margin-right: 1rem;
        }

      }
    }
  }
</style>


